<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>

      <link rel="stylesheet" href="/static/style/style.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
      <div class="content">
            <h1 class="title">Your account link</h1>
            <div class="center">Discord id {{discord_id}}</div>
            <div class="center">Steam id {{steam_id}}</div>

            <div class="button_group">
                  <a href="{{unlink_url}}" class="button button_warning">Unlink Accounts</a>
            </div>
      </div>

</body>
</html>