<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/static/style/root.css" />
    <link rel="stylesheet" href="/static/style/colors.css" />
    <link rel="stylesheet" href="/static/style/button.css" />
    <link rel="stylesheet" href="/static/style/cards.css" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

    <script src="/static/src/check_link.js" defer></script>
    <script src="/static/src/branding.js" defer></script>
  </head>

  <body class="darker" id="barnding-header">
    <div class="card card-m dark center_item">
      <div id="header">
        <h1 class="title center_item" id="branding-title"></h1>
        <img id="branding-icon" class="center_item" src="" alt="">
      </div>
      <p class="center_text" id="branding-info">
      </p>
    </div>

    <div class="card card-m dark center_item">
      <h1 class="title center_text">Link Steam Account</h1>
      <p class="center_text" id="steam_info">
        Sit in ut cupidatat labore et adipisicing duis id magna Lorem.
      </p>
      <div class="button_group"> 
        <a class="button center_item" id="steam_link_btn" href="{{steam_url}}">Sign into Steam<i
          class="fab fa-steam"></i></a>
      </div>
    </div>
    <div class="card card-m dark center_item">
      <h1 class="title center_text">Link Discord Account</h1>
      <p class="center_text" id="discord_info">Fugiat nulla deserunt ut adipisicing.</p>
      <div class="button_group"> 
        <a class="button center_item" id="discord_link_btn" href="{{discord_url}}">Sign into Discord<i
          class="fab fa-discord"></i></a>
      </div>
    </div>
    <div class="card card-m dark center_item">
      <h1 class="title center_text">Linked Accounts</h1>
      <p class="center_text">Steam ID: <span class="txt_ok">{{steam_id}}</span></p>
      <p class="center_text">Discord ID: <span class="txt_ok">{{discord_id}}</span></p>

      <div class="button_group"> 
        <a class="button button_ok center_item" id="settings_btn" href="/settings">Settings<i class="fas fa-cog"></i></a><div>
    </div>
  </body>
</html>
