<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

</head>
<body>
    
    <div class="content">
        <h1 class="title">Sign in with Steam</h1>
        <p>You also have to sign in to steam, please press the button below to sign in.</p>

        <div class="button_group">
            <a href="{{steam_url}}" class="button button_ok">Sign in Steam<i class="fab fa-steam"></i></a>

        </div>

    </div>

</body>
</html>