body {
    font-family: var(--font);
}

i {
    margin: 5px;
}

.title {
    font-family: var(--font);
    font-size: 2em;
}

.subtitle {
    font-family: var(--font);
    font-size: 1.5em;
    color: grey;
}

.center_item {
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

.center_text {
    text-align: center;
}

.hidden   {
    visibility: hidden;
}